


<section class="banner">
  <div class="photos"></div>
  <div class="banner-text">
  <%= link_to "Ver Peças", produtos_path, class:"buttom"%>
  </div>


</section>






<%= link_to "Bandejas", "#" %>
<%= link_to "Caixas", "#" %>
<%= link_to "Minuaturas", "#" %>
<%= link_to "Outros", "#" %>
