<section class="banner">
  <div class="photos">
    <div class="photo"></div>
  </div>
  <div class="banner-text">
    <div class="top">
      <h1>Bem vindo <br>ao <br>Nosso Artesanato</h1>
    </div>
    <div class="bottom">
      <p>Onde a criatividade não tem limites.</p>
      <%= link_to "Ver Peças", produtos_path, class:"buttom"%>
    </div>
  </div>


</section>






<%= link_to "Bandejas", "#" %>
<%= link_to "Caixas", "#" %>
<%= link_to "Minuaturas", "#" %>
<%= link_to "Outros", "#" %>
