<h1>Produtos new</h1>

<%= simple_form_for @produto do |f| %>
  <%= f.input :nome %>
  <%= f.input :categoria, collection: %i[bandeja caixa miniatura outros] %>
  <%= f.input :descricao %>
  <%= f.input :tamanho, collection: %i[S M L] %>
  <%= f.input :disponivel %>
  <%= f.input :foto, as: :file %>

  <%= f.submit %>
<% end %>
